body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF8F0;
}
.content {
    margin-left: 500px;
    margin-top: 5px;
    padding: 20px;
}
.image-section {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.image-section img {
    width: 355px;
    height: auto;
    padding: 50px;
    border-radius: 100px; 
}
.image-title {
    margin-left: 20px;
    font-size: 1.2em;
}
.image-title p {
    margin-bottom: 0; 
}
.image-title h1 {
    margin-top: 0; 
}
.buttons {
    margin-top: 10px;
    display: flex;
}
.buttons button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #e9967a;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 40px;
}
.buttons .back-button {
    margin-right: 235px;
}
.buttons button:hover {
    background-color: #c82333;
}
.form-group {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}
.form-group select {
    width: 250px;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;
}
.form-group textarea {
    width: 330px;
    height: 50px;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;
    resize: vertical;
}