/* General styling for the main content */
main {
    margin-left: 250px;
    padding: 20px;
    padding-left: 40px;
}

/* Styling for the heading */
.head1 {
    font-size: 100%;
    color: rgba(21, 8, 8, 0.836);
    margin-bottom: 30px;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #F7DBD2;
    border-radius: 25px;
    margin: 10px;
    table-layout: auto;
}

/* Styling for table cells and headers */
td, th {
    padding: 8px 12px;
    text-align: center;
    border-bottom: 1px solid #DF9086;
    white-space: nowrap;
    max-width: 150px; /* Adjust as needed */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Row styling */
tr {
    height: max-content;
    font-size: medium;
    font-weight: 400;
}

/* Header styling */
th {
    font-size: medium;
}

/* Container styling for overflow */
.container {
    margin: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #F7DBD2;
    border-radius: 25px;
    overflow: auto; /* Updated to auto */
}

/* Specific styling for table container */
.table-container {
    overflow: auto; /* Updated to auto */
    width: 100%;
}

/* Word-wrap for table data */
td {
    word-wrap: break-word;
}

input[type="date"],
select#state,
input#start_date,
input#end_date {
    appearance: auto;
    background-color: #fff;
    border: 1px solid #e4b1b1b1;
    border-radius: 5px;
    padding: 8px;
    padding-left: 20px;
    font-size: small;
    width: 150px; /* Adjust width as needed */
    font-family: "Poppins", sans-serif;
}

select#state, #start_date, #end_date {
    appearance: auto;
    background-color: #fff;
    border: 1px solid #e4b1b1b1;
    border-radius: 5px;
    padding: 8px;
    padding-left: 20px;
    font-size: small;
    width: 150px; /* Adjust width as needed */
    font-family: "Poppins", sans-serif;
}

/* Style the options inside the select element */
select#state option {
    padding: 8px;
    font-size: small;
}

.button-19 {
    appearance: button;
    background-color: #03b479;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 5px;
    outline: none;
    overflow: visible;
    padding: 6px 6px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 20%;
}

.button-19:after {
    background-clip: padding-box;
    background-color: #19a265;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button-19:main,
.button-19:focus {
    user-select: auto;
}

.button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button-19:disabled {
    cursor: auto;
}

.button-19:active {
    border-width: 4px 0 0;
    background: none;
}

/* CSS */
.button-45 {
    align-items: center;
    background-color: #FFE7E7;
    background-position: 0 0;
    border: 1px solid #FEE0E0;
    border-radius: 11px;
    box-sizing: border-box;
    color: #D33A2C;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 33.4929px;
    list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
    padding: 2px 12px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
}

.button-45:active,
.button-45:hover,
.button-45:focus {
    outline: 0;
}

.button-45:active {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
}

.button-45:hover {
    background-color: #FFE3E3;
    border-color: #FAA4A4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
}

.filter-container {
    display: flex;
    gap: 10px; /* Adjust the spacing between elements as needed */
    align-items: baseline;
}

.filter-container label {
    margin-right: 10px; /* Optional: Add some margin to the label if needed */
}

/* CSS to set the print layout to landscape and hide sidebar */
@media print {
    @page {
        size: landscape;
    }
    
    #sidebar {
        display: none;
    }

    main {
        margin-left: 0;
        padding: 20px;
        padding-left: 20px;
    }
}
