/* General styling for the main content */
main {
    margin-left: 250px;
    padding: 20px;
    padding-left: 40px;
}

/* Styling for the heading */
.head1 {
    font-size: 100%;
    color: rgba(21, 8, 8, 0.836);
    margin-bottom: 30px;
}

/* Table styling */
table {
    width: 80%;
    border-collapse: collapse;
    background-color: #F7DBD2;
    border-radius: 25px;
    margin: 10px;
    table-layout: auto;
}

/* Styling for table cells and headers */
td, th {
    padding: 8px 12px;
    text-align: center;
    border-bottom: 1px solid #DF9086;
    white-space: nowrap;
    max-width: 150px; /* Adjust as needed */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Row styling */
tr {
    height: max-content;
    font-size: medium;
    font-weight: 400;
}

/* Header styling */
th {
    font-size: medium;
}

/* Container styling for overflow */
.container {
    margin: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: max-content;
    height: auto;
    background-color: #F7DBD2;
    border-radius: 25px;
    overflow-x: auto;
    overflow-y: auto;
}

/* Specific styling for table container */
.table-container {
    overflow-x: auto;
    overflow-y: auto;
    width: max-content;
}

/* Word-wrap for table data */
td {
    word-wrap: break-word;
}


.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(184deg 98% 20%) 0%,
      hsl(184, 44%, 40%) 8%,
      hsl(184, 44%, 35%) 92%,
      hsl(184deg 98% 20%) 100%
    );
  }
  
  .button-82-front {
    display: block;
    position: relative;
    padding: 8px 16px;
    border-radius: 12px;
    color: white;
    background: #80c1c7;
    will-change: transform;
    transform: translateY(-4px);
    letter-spacing: 1px;
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  @media (min-width: 768px) {
    .button-82-front {
      padding: 10px 20px;
      letter-spacing: 1px;
    }
  }
  
  .button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:focus:not(:focus-visible) {
    outline: none;
  }